
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-12 col-md-12 col-sm-12 portfolio-box text-center" style="margin-top: 50px;">
                <img src="../img/portfolio/1.png" class="img-responsive" alt="">
                    <div style="position: absolute; top: 50px; left:0; right:0; margin-left:auto; margin-right:auto;">
                        <a href="/purchase/strawberry" class="btn btn-default btn-xl " style="font-size: 25px; 
                        font-family:'Nanum Pen Script'; font-weight: 400; ">
                        선물용<span style="color: #f05f40;"> 라이크 딸기 </span> 주문하기
                        </a>
                    </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="/index/home">
                    <img src="../img/portfolio/button.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 portfolio-box text-center">
                <img src="../img/portfolio/2.png" class="img-responsive" alt="">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#">
                    <img src="../img/portfolio/button2.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>