<div class="container">
    <div class="box text-center">
        <p>완료되었습니다!</p>
        <p><a href="/manage/charged"><button type="button" class="back btn btn-info">입금확인</button></a>
        <a href="/manage/delivery"><button type="button" class="back btn btn-success">발송확인</button></a></p>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<!-- Page CSS -->
<style>
body{
    background: url('../img/strawberry/likeddalgi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.box {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
{
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}

</style>