<!-- Order Sheet -->
<div class="container">
    <div class="box" id="buy">
        <div class="col-lg-12 col-md-12 col-xs-12 text-center">
            <h3 class="intro-text" style="word-break: keep-all;">
                <h3><strong><%=@name%></strong>님의 메시지 예약이 <br>완료되었습니다
            </h3>
            <hr>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 text-center">
            <p><b><%= @message_number %></b>님에게 보내는 메시지</p>
            <p><%= @message_body %></p><br>

            <a href="/index/main" class="btn btn-success btn-xl" style="font-size: 20px; text-align:center;">
            <span>다른상품 보기</span></a>
        </div>


        <div class="clearfix"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<!-- Page CSS -->
<style>
body{
    background: url('../img/strawberry/likeddalgi.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.box {
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}
{
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
</style>
